<div class="table-container">
  <div class="table-scrollable-outlets">
    <table id="outlets-table" class="table">
      <thead>
        <tr>
          <th class="col-sep">No.</th>
          <th>Outlet Name</th>
          <th>Region</th>
          <th>Machine Total</th>
          <th style="border-left:1px solid #e5e7eb;">Basic</th>
          <th>Standard</th>
          <th class="col-premium">Premium</th>
          <th>Total</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="col-sep">1</td>
          <td>Loading...</td>
          <td>Loading...</td>
          <td>Loading...</td>
          <td style="border-left:1px solid #e5e7eb;">Loading...</td>
          <td>Loading...</td>
          <td class="col-premium">Loading...</td>
          <td>Loading...</td>
          <td>
            <a href="#" class="btn btn-primary">Manage</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


